<div>
  <footer>
    <br>
    <br>
    <h4>&copy; All Copyright Reserved</h4>

    <div class="social">
      <!-- <p>Follow us on :-</p> -->
     <div class="handles">
       <!-- instagram -->
       <a href="https://www.instagram.com/" target="_blank"><i class="fa">&#xf16d;</i></a>
      <!-- whatsapp -->
      <a href=""><i class="fa">&#xf232;</i></a>
      <!-- facebook -->
      <a href="https://www.facebook.com/" target="_blank"><i  class="fa">&#xf09a;</i></a>
      <!-- you tube -->
      <a href="https://www.youtube.com/" target="_blank"><i class="fa">&#xf16a;</i></a>
      <!-- twitter -->
      <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank"><i  class="fa">&#xf099;</i></a>
      <!-- linkedin -->
      <a href="https://www.linkedin.com/login" target="_blank"><i class="fa">&#xf08c;</i></a>
     </div>

  </div>



  </footer>



