<div class="fx">


    <nav >
        <div class="logo">
            <h1>Wildlife Blogs</h1> 
        </div>

        <div class="menu">
            <ul>
                <li><a routerLink="/main">Home</a></li>
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/blog">Blogs</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li class="drop"> <a >Others <i class="fa">&#9660;</i></a>
                    <div class="menu-drop">
                        <ul>
                            <li><a routerLink="/contact">Contact US</a></li>
                            <li><a routerLink="/feedback">Feedback</a></li>
                            <li><a routerLink="/team">Our Team</a></li>
                            <li><a routerLink="/location">Location</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
           </div>

           <!-- <div class="toggle">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa">&#xf0c9;</i>
            </label>
           </div> -->

    </nav>





    <!-- <nav>
        <div class="logo">
            <h1>Wildlife Blog</h1> 
        </div>

        <div class="menu">
            <a routerLink="/main">Home</a>
            <a routerLink="/gallery">Gallery</a>
            <a routerLink="/blog">Blogs</a>
            <a routerLink="/about">About Us</a>

            <div class="dropdown">
                <button class="dropbtn dropdown-toggle">Others <p> <i class="arrow down"></i></p></button>
                <div class="dropdown-content">
                    <a routerLink="/contact">Contact Us</a>
                    <a routerLink="/feedback">Feedback</a>
                    <a routerLink="/location">Our Location</a>
                    <a routerLink="/team">Our Team</a>
                </div>
            </div>
           
        </div>

    </nav> -->
</div>






<!-- 
              <input type="checkbox" id="check">
              <label for="check" class="checkbtn">
                  <i class="fas fa-bars"></i>
              </label>
              
              <label class="logo">Navbar</label>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Our Team</a></li>
              </ul> -->