<!-- <p>contact works!</p> -->

<section>

    <div class="contact">
        <h1>Contact Us</h1>
        <h3></h3>
        <div class="container">
            <div class="info">
                <div class="text">
                    <div class="address">
                        <h3>Address</h3>
                        <a routerLink="/location"><p>Chandigarh</p></a> 
                    </div>
                </div>
                <div class="text">
                    <div class="number">
                        <h3>Phone No.</h3>
                        <a href="tel:+91-7710352296"><p>+91-7710352296</p></a>
                    </div>
                </div>
                <div class="text">
                    <div class="email">
                        <h3>Email</h3>
                        <!-- <p>shivanshsharma204@gmail.com</p> -->
                        <a href="mailto:shivanshsharma204@gmail.com" target="_blank"><p>shivanshsharma204@gmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <form [formGroup]="contactForm">
                <h2>Send Message</h2>
                <div class="inputbox">
                    <input required class="form-control" id="name" type="text" placeholder="Name"  formControlName="name" >
                    <span class="error" *ngIf="name?.invalid && name?.touched">Name is required</span>
                    </div>
                    <!-- email -->
                <div class="inputbox">
                    <input required class="form-control" id="emailAddress" type="text" placeholder="Email Address"
                        formControlName="email" >
                    <span class="error" *ngIf="email?.invalid && email?.touched">E-mail is invalid</span>
                    <span class="valid" *ngIf="email?.valid && email?.touched">E-mail is valid</span>
                </div>
                <!-- phone number -->
                <div class="inputbox">
                    <input required class="form-control" id="phone" type="tel" placeholder="Phone Number: +91-XXXXXXXXXX" formControlName="phone" >
                    <span class="error" *ngIf="phone?.invalid && phone?.touched">Enter 10 digit number.</span>
                    <span class="valid" *ngIf="phone?.valid">Enter number in valid</span>
                </div>
                <!-- date -->
               <div class="inputbox">
                <label for="app-date">Date for contact:</label>
                <input type="date" id="app" name="app">
               </div>
               <!-- Message box -->
                <div class="inputbox">
                    <textarea required="required" cols="30" rows="10" maxlength="20 words" placeholder="Type your Message ...."></textarea>
                </div>
                <!-- submit -->
                <div class="inputbox">
                    <button [disabled]="!contactForm.dirty" onclick="myFunction()" > Submit</button>
                    <!-- <input type="submit" value="Submit" [disabled]="!contactForm.dirty" > -->
                </div>

            </form>

        </div>
    </div>
</section>