<!-- <p>gallery works!</p> -->
<div class="gallery">

  <div class="heading">
    <h1>Gallery</h1>
    <h5>Every animal has it known beauty.</h5>
  </div>

  <div class="grid">


    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsJeHJk939rnwB3FX3KByST5WyKqGQNgOl1Q&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsJeHJk939rnwB3FX3KByST5WyKqGQNgOl1Q&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxAOC0SPPBSuTWqvfY2VORN0gjGuuzSkIlA&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxAOC0SPPBSuTWqvfY2VORN0gjGuuzSkIlA&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGrBydq1EkcmP-Qo2bOc4vm-4HOyo6UdEfDg&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGrBydq1EkcmP-Qo2bOc4vm-4HOyo6UdEfDg&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAHY2rcTR2b_PUMfqriDBV5Wy04CyhvFZn3w&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAHY2rcTR2b_PUMfqriDBV5Wy04CyhvFZn3w&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcrHCYlLbh9gJlS5FZjmqGDj8wWHOklCDoGw&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcrHCYlLbh9gJlS5FZjmqGDj8wWHOklCDoGw&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdkZJlYAVjmXcbwpJE1y9bjFaENFwI-PcIg&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdkZJlYAVjmXcbwpJE1y9bjFaENFwI-PcIg&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3TAkHOPd__HcKAmwo6XlXkbuoM19O65e-qw&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3TAkHOPd__HcKAmwo6XlXkbuoM19O65e-qw&usqp=CAU"
          alt=""></a>
    </div>

    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Bt1w37p_HUYsq_muEo970HQMiFhATFUq7Q&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Bt1w37p_HUYsq_muEo970HQMiFhATFUq7Q&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFcCBNFnJO6nm48YT7I5zAIkG4lO-SMK8Vog&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFcCBNFnJO6nm48YT7I5zAIkG4lO-SMK8Vog&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8CqstvU25xcgn8pPicgJUtc4QDc7UXsaVw&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8CqstvU25xcgn8pPicgJUtc4QDc7UXsaVw&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKpfK32P-79RsxAxpmSQgk0tulxS4noCD7wA&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKpfK32P-79RsxAxpmSQgk0tulxS4noCD7wA&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQahJckPKLjlQa1RvwXqHoKyxDGc7m_ZiIxHQ&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQahJckPKLjlQa1RvwXqHoKyxDGc7m_ZiIxHQ&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYWi3AZRS7_UMVJa1R0n_EEK0-1Yb0266gaQ&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYWi3AZRS7_UMVJa1R0n_EEK0-1Yb0266gaQ&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlyTgg7eT85HIJiNzvz_q3PVnlAEpsFcx5Gw&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlyTgg7eT85HIJiNzvz_q3PVnlAEpsFcx5Gw&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScHtzXJ5K0dtPHdMLV-FXQssC4sAMrNsD_Aw&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScHtzXJ5K0dtPHdMLV-FXQssC4sAMrNsD_Aw&usqp=CAU"
          alt=""></a>
    </div>
    <div class="item">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ04hwsjYiK-4fCsw-RafaFqNW0-nomr3FiaA&usqp=CAU"
        target="_blank"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ04hwsjYiK-4fCsw-RafaFqNW0-nomr3FiaA&usqp=CAU"
          alt=""></a>
    </div>


    <!-- <div class="grid">
      <div class="onclick"  *ngFor="let image of gallery; let i=index">
          <div > 
              <img [src]="image.thumb" (click)="open(i)">
          </div>
      </div>
  
      <div  *ngFor="let image1 of gallery.slice(10,20);">
          <div > 
              <img [src]="image1.thumb">  
          </div>
      </div>
  </div> -->

  </div>
  <br>
  <br>

  <div class="pagination">
    <ul>
      <li><a routerLink="/gallery">Previous</a></li>
      <li><a routerLink="/gallery">1</a></li>
      <li><a routerLink="/gallery2pg">2</a></li>
      <li><a routerLink="/gallery2pg">Next</a></li>
    </ul>
  </div>