*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.location .tittle{
    margin: 30px;
    text-align: center;
}
.location .tittle h1{
   font-size: 52px;
}
.location .tittle p{
   color: grey;
}
.location .tittle h1:hover{
   font-size: 53px;
   text-shadow: 3px 3px 1px rgb(83, 83, 83);
}
.location .tittle p:hover{
   color: rgb(34, 34, 34);
}
.location .map{
    margin-top: 25px;
    margin-left: 20%;
}
