<!-- <p>blog works!</p> -->

<h1>Blogs about animals</h1>

<div class="place">
    <div class="card" >
      <img src="https://files.worldwildlife.org/wwfcmsprod/images/Tiger_resting_Bandhavgarh_National_Park_India/hero_small/6aofsvaglm_Medium_WW226365.jpg" class="card-img-top" alt="Tiger">
      <div class="card-body">
        <h5 class="card-title">Tiger</h5>
        <p class="card-text">The tiger (Panthera tigris) is the largest living cat species and a member of the genus Panthera. It is most recognisable for its dark vertical stripes on orange fur with a white underside.  <b>It is also known National animal of India.</b></p>
        <a href="https://en.wikipedia.org/wiki/Tiger" class="btn btn-primary" target="_blank">Read more </a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" class="card-img-top" alt="Lion">
      <div class="card-body">
        <h5 class="card-title">Lion</h5>
        <p class="card-text">The lion is a large cat of the genus Panthera native to Africa and India. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. One of the most widely recognised animal symbols in human culture</p>
        <a href="https://en.wikipedia.org/wiki/Lion " class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
    <div class="card" >
      <img src="https://www.thehindu.com/sci-tech/energy-and-environment/i99k2c/article36498686.ece/ALTERNATES/LANDSCAPE_1200/19SM-leopard-5" class="card-img-top" alt="Leopard" height="250px">
      <div class="card-body">
        <h5 class="card-title">Leopard</h5>
        <p class="card-text">The leopard (Panthera pardus) is one of the five extant species in the genus Panthera, a member of the cat family, Felidae. It occurs in a wide range in sub-Saharan Africa, in some parts of Western and Central Asia, Southern Russia, and on the Indian subcontinent to Southeast and East Asia.</p>
        <!-- <a type="button" class="read-more-btn">Read more...</a> -->
        <a href="https://en.wikipedia.org/wiki/Leopard" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://cdn.britannica.com/37/154237-050-A76A506D/blue-peafowl-tail-Indian-peacock-courtship-displays.jpg" class="card-img-top" alt="Peacock">
      <div class="card-body">
        <h5 class="card-title">Peacock</h5>
        <p class="card-text"> The peacock is brightly coloured, with a predominantly blue fan-like crest of spatula-tipped wire-like feathers and is best known for the long train made up of elongated upper-tail covert feathers which bear colourful eyespots. These stiff feathers are raised into a fan and quivered in a display during courtship. <b>It is also known as National bird of India.</b></p>
        <a href="https://en.wikipedia.org/wiki/Indian_peafowl" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://cdn.mos.cms.futurecdn.net/Z6j2a3pPdyBTQ5iicDe9kn.jpg" class="card-img-top" alt="Cheetah">
      <div class="card-body">
        <h5 class="card-title">Cheetah</h5>
        <p class="card-text">The cheetah (Acinonyx jubatus) is a large cat native to Africa and central Iran. It is the fastest land animal, estimated to be capable of running at 80 to 128 km/h (50 to 80 mph) with the fastest reliably recorded speeds being 93 and 98 km/h (58 and 61 mph), and as such has several adaptations for speed, including a light build, long thin legs and a long tail.</p>
        <a href="https://en.wikipedia.org/wiki/Cheetah" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Standing_jaguar.jpg" class="card-img-top" alt="Jaguar">
      <div class="card-body">
        <h5 class="card-title">Jaguar</h5>
        <p class="card-text">The jaguar  is a large cat species and the only living member of the genus Panthera native to the Americas. With a body length of up to 6 ft 1 inch and a weight of up to 96 kg, it is the largest cat species in the Americas and the third largest in the world. Its distinctively marked coat features pale yellow to tan colored fur covered by spots that transition to rosettes on the sides.</p>
        <a href="https://en.wikipedia.org/wiki/Jaguar" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://s01.sgp1.cdn.digitaloceanspaces.com/article/162696-lrkfcomskj-1628694149.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Elephant</h5>
        <p class="card-text">Elephants are the largest existing land animals. Three living species are currently recognised: the African bush elephant, the African forest elephant, and the Asian elephant. They are an informal grouping within the proboscidean family Elephantidae. Elephantidae is the only surviving family of proboscideans; extinct members include the mastodons. </p>
        <a href="https://en.wikipedia.org/wiki/Elephant" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
    <div class="card" >
      <img src="https://v1.nitrocdn.com/bvIhcJyiWKFqlMsfAAXRLitDZjWdRlLX/assets/static/optimized/rev-5131b73/wp-content/uploads/2020/11/Giraffe.jpg" class="card-img-top" alt="Giraffe">
      <div class="card-body">
        <h5 class="card-title">Giraffe</h5>
        <p class="card-text">The giraffe is a tall African even-toed hoofed mammal belonging to the genus Giraffa. It is the tallest living terrestrial animal and the largest ruminant. While traditionally considered to be one species, Giraffa camelopardalis, with nine subspecies, a division of giraffes into up to eight extant species has been proposed, based upon research into the mitochondrial and nuclear DNA, as well as morphological measurements.</p>
        <a href="https://en.wikipedia.org/wiki/Giraffe" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://www.macmillandictionary.com/external/slideshow/full/alligator_full.jpg" class="card-img-top" alt="Alligator">
      <div class="card-body">
        <h5 class="card-title">Alligator</h5>
        <p class="card-text">An alligator is a crocodilian in the genus Alligator of the family Alligatoridae. The two extant species are the American alligator (A. mississippiensis) and the Chinese alligator (A. sinensis). Additionally, several extinct species of alligator are known from fossil remains. Alligators first appeared during the Oligocene epoch about 37 million years ago.</p>
        <a href="https://en.wikipedia.org/wiki/Alligator" class="btn btn-primary" target="_blank">Read  more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Nile_crocodile_head.jpg" class="card-img-top" alt="Crocodile">
      <div class="card-body">
        <h5 class="card-title">Crocodile</h5>
        <p class="card-text">Crocodiles (family Crocodylidae) or true crocodiles are large semiaquatic reptiles that live throughout the tropics in Africa, Asia, the Americas and Australia. Although they appear similar, crocodiles, alligators and the gharial belong to separate biological families. The gharial, with its narrow snout, is easier to distinguish, while morphological differences are more difficult to spot in crocodiles and alligators.</p>
        <a href="https://en.wikipedia.org/wiki/Crocodile" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/2010-kodiak-bear-1.jpg/1200px-2010-kodiak-bear-1.jpg" class="card-img-top" alt="Bear">
      <div class="card-body">
        <h5 class="card-title">Bear</h5>
        <p class="card-text">Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans. Although only eight species of bears are extant, they are widespread, appearing in a wide variety of habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears have been hunted since prehistoric times for their meat and fur.</p>
        <a href="https://en.wikipedia.org/wiki/Bear" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
    <div class="card" >
      <img src="https://www.treehugger.com/thmb/SShPLoEHvhEViNtPvs82-QcCPrQ=/2121x1193/smart/filters:no_upscale()/horse.primary-e9a47e1c486c4fb7bf729e05b59cf0df.jpg" class="card-img-top" alt="Horse">
      <div class="card-body">
        <h5 class="card-title">Horse</h5>
        <p class="card-text">The horse is a domesticated one-toed hoofed mammal. It belongs to the taxonomic family Equidae and is one of two extant subspecies of Equus ferus. Horses are adapted to run, as this trait allows them to quickly escape predators. Horses and humans interact in a wide variety of sport competitions and non-competitive recreational pursuits, as well as in working activities.</p>
        <a href="https://en.wikipedia.org/wiki/Horse" class="btn btn-primary" target="_blank">Read more</a>
      </div>
    </div>
  
  </div>